<section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4" data-aos="fade-right">
          <a href="#" class="logo"
            ><span>S</span>amarqand <span>7</span> - son Oilaviy
            <span>P</span>oliklinika.</a
          >
          <p>
            Bizning manzil: Samarqand shahar, Buyuk Ipak yo'li ko'chasi 30-uy
          </p>
        </div>

        <div class="col-md-4 text-center" data-aos="fade-up">
          <h3>links</h3>
          <a href="#home">bosh sahifa</a>
          <a href="#about">biz haqimizda</a>
          <a href="#facility">Xizmatlar</a>
          <!-- <a href="#">review</a>
          <a href="#">contact</a> -->
          <a href="#post">Foydali</a>
        </div>

        <div class="col-md-4 text-center" data-aos="fade-left">
          <h3>Ulashish</h3>
          <a href="#">facebook</a>
          <a href="#">twitter</a>
          <a href="#">instagram</a>
          <a href="#">github</a>
        </div>
      </div>
    </div>
    <h1 class="credit text-center mx-auto">
        created by <span>Bekhzod Asadullaev</span> | all rights reserved.
      </h1>
    </section>