<header>
    <div class="container">
      <img
        src="../images/hospital.svg"
        alt="Hospital Logo"
        class="logo-svg"
      />
      <a href="#" class="logo"
        ><span>S</span>amarqand <span>7</span> - son Oilaviy
        <span>P</span>oliklinika.</a
      >

      <nav class="nav">
        <ul>
          <li><a href="#home">Bosh Sahifa</a></li>
          <li><a href="#about">Biz haqimizda</a></li>
          <li><a href="#facility">Xizmatlar</a></li>
          <!-- <li><a href="#contact">contact</a></li> -->
          <li><a href="#post">Foydali</a></li>
          <li><a href="/login" class="login">Kirish</a></li>
        </ul>
      </nav>

      <div class="fas fa-bars"></div>
    </div>
  </header>