<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sam_7_Polik</title>

    <!-- aos css file cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <!-- magnific popup css cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />

    <!-- bootstrap cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/style.css" /></head
  ><head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samarkand_7_polik</title>

    <!-- aos css file cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    <!-- magnific popup css cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    />

    <!-- bootstrap cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
    />

    <!-- font awesome cdn link  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/styleLogin.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <!-- HEADER SECTION -->

    <header
      style="
        background: #fff;
        box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
        padding: 0.5rem 0rem;
        height: 15%;
      "
    >
      <div class="container" style="margin-bottom: 30px">
        <img
          src="../images/hospital.svg"
          alt="Hospital Logo"
          class="logo-svg"
        />
        <a href="#" class="logo"
          ><span>S</span>amarqand <span>7</span> - son Oilaviy
          <span>P</span>oliklinika.</a
        >

        <nav class="nav">
          <ul>
            <li><a href="/analyse">Menu</a></li>
            <li><a href="/index" class="login">Chiqish</a></li>
          </ul>
        </nav>

        <div class="fas fa-bars"></div>
      </div>
    </header>

    <div class="box-container">
      <div class="box">
        <img
          src="../images/peshob.jpg"
          alt=""
          style="
            height: auto;
            margin-top: 100px;
            display: block;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
          "
        />
        <div class="content">
          <span>5 Yanvar, 2021</span>
          <a href="#" style="text-align: center"
            ><h1>Peshob analiz tahlili</h1></a
          >
          <p style="margin-bottom: 10px; font-size: 2rem">
            Barcha ko'rsatkichlar yaxshi.
          </p>
          <!-- <a href="#"><button class="button">learn more</button></a> -->
        </div>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- magnific popup js link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- aos js file cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <!-- custom js link  -->
    <script src="../js/main.js"></script>
    <!-- <script src="app.js"></script> -->
    <!-- <script src="../js/mainLogin.js"></script> -->
    <!-- <script>
      AOS.init({
        duration: 1000,
        delay: 400,
      });
    </script> -->
  </body>
</html>
